*~
*.bak
*.swp
temp/
.project
.buildpath
.settings/

# log files
logs/*
temp/*

# cache files
webapps/cache/*

# autoload file
webapps/config/autoload/*

# compiled templates
webapps/viewc/*
webapps/module/calckvar/viewc/*
webapps/module/csmohist/viewc/*
webapps/module/curates/viewc/*
webapps/module/factweb/viewc/*
webapps/module/loadcensus/viewc/*
webapps/module/matrixcsmo/viewc/*
webapps/module/updinfo/viewc/*

