<table>
  <tr>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;fecha&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>h1</th>
    <th>h2</th>
    <th>h3</th>
    <th>h4</th>
    <th>h5</th>
    <th>h6</th>
    <th>h7</th>
    <th>h8</th>
    <th>h9</th>
    <th>h10</th>
    <th>h11</th>
    <th>h12</th>
    <th>h13</th>
    <th>h14</th>
    <th>h15</th>
    <th>h16</th>
    <th>h17</th>
    <th>h18</th>
    <th>h19</th>
    <th>h20</th>
    <th>h21</th>
    <th>h22</th>
    <th>h23</th>
    <th>h24</th>
  </tr>
<!-- loop matrix -->
  <tr>
    <td>{{matrix' v.@fecha}}</td>
    <td>{{matrix' v.@h01a}}</td>
    <td>{{matrix' v.@h02a}}</td>
    <td>{{matrix' v.@h03a}}</td>
    <td>{{matrix' v.@h04a}}</td>
    <td>{{matrix' v.@h05a}}</td>
    <td>{{matrix' v.@h06a}}</td>
    <td>{{matrix' v.@h07a}}</td>
    <td>{{matrix' v.@h08a}}</td>
    <td>{{matrix' v.@h09a}}</td>
    <td>{{matrix' v.@h10a}}</td>
    <td>{{matrix' v.@h11a}}</td>
    <td>{{matrix' v.@h12a}}</td>
    <td>{{matrix' v.@h13a}}</td>
    <td>{{matrix' v.@h14a}}</td>
    <td>{{matrix' v.@h15a}}</td>
    <td>{{matrix' v.@h16a}}</td>
    <td>{{matrix' v.@h17a}}</td>
    <td>{{matrix' v.@h18a}}</td>
    <td>{{matrix' v.@h19a}}</td>
    <td>{{matrix' v.@h20a}}</td>
    <td>{{matrix' v.@h21a}}</td>
    <td>{{matrix' v.@h22a}}</td>
    <td>{{matrix' v.@h23a}}</td>
    <td>{{matrix' v.@h24a}}</td>
  </tr>
<!-- endloop -->
</table>