<table>
  <tr>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;fecha&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>h1</th>
    <th>h2</th>
    <th>h3</th>
    <th>h4</th>
    <th>h5</th>
    <th>h6</th>
    <th>h7</th>
    <th>h8</th>
    <th>h9</th>
    <th>h10</th>
    <th>h11</th>
    <th>h12</th>
    <th>h13</th>
    <th>h14</th>
    <th>h15</th>
    <th>h16</th>
    <th>h17</th>
    <th>h18</th>
    <th>h19</th>
    <th>h20</th>
    <th>h21</th>
    <th>h22</th>
    <th>h23</th>
    <th>h24</th>
  </tr>
<!-- loop matrix -->
  <tr>
    <td style="text-align: center !important">{{matrix' v.@fecha}}</td>
    <td>{{matrix' v.@h01r}}</td>
    <td>{{matrix' v.@h02r}}</td>
    <td>{{matrix' v.@h03r}}</td>
    <td>{{matrix' v.@h04r}}</td>
    <td>{{matrix' v.@h05r}}</td>
    <td>{{matrix' v.@h06r}}</td>
    <td>{{matrix' v.@h07r}}</td>
    <td>{{matrix' v.@h08r}}</td>
    <td>{{matrix' v.@h09r}}</td>
    <td>{{matrix' v.@h10r}}</td>
    <td>{{matrix' v.@h11r}}</td>
    <td>{{matrix' v.@h12r}}</td>
    <td>{{matrix' v.@h13r}}</td>
    <td>{{matrix' v.@h14r}}</td>
    <td>{{matrix' v.@h15r}}</td>
    <td>{{matrix' v.@h16r}}</td>
    <td>{{matrix' v.@h17r}}</td>
    <td>{{matrix' v.@h18r}}</td>
    <td>{{matrix' v.@h19r}}</td>
    <td>{{matrix' v.@h20r}}</td>
    <td>{{matrix' v.@h21r}}</td>
    <td>{{matrix' v.@h22r}}</td>
    <td>{{matrix' v.@h23r}}</td>
    <td>{{matrix' v.@h24r}}</td>
  </tr>
<!-- endloop -->
</table>