<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Vatia :: Webapps</title>

<base href="{{baseurl}}" target="_self" />

<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">

<link rel="shortcut icon" href="global/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/default.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/dateslider.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/forms.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/signin.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="global/css/dialogbox.css" />

<script type="text/javascript" src="global/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery-ui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.tools.min.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.range-slider.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.date-range-slider.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.idletimer.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.iframe.js" charset="utf-8"></script>
<script type="text/javascript" src="global/js/jquery.pngfix.js" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $('.options').tooltip({
        offset: [10, 2],
        position: ['bottom', 'center']
    }).dynamic({ bottom: { direction: 'down', bounce: true } });

    var ciclo_ini = '{{ciclo_ini}}';
    var ciclo_fin = '{{ciclo_fin}}';

    var id_cliente = '{{id_cliente}}';

    //var ids = '';

    function csmo_refresh() {

        $('#graph-container').empty().html('<img src="global/img/preloader/facebook.gif" />');
        $('#graph-container').load('{{baseurl}}csmo-hist/graph/' +
            id_cliente + '/' + ciclo_ini + '/' + ciclo_fin);

        $('#ultimos-consumos').empty().html('<img src="global/img/preloader/facebook.gif" />');
        $('#ultimos-consumos').load('{{baseurl}}csmo-hist/last/' +
                id_cliente + '/' + ciclo_ini + '/' + ciclo_fin);

        $('#csmo-actual').empty().html('<img src="global/img/preloader/facebook.gif" />');
        $('#csmo-actual').load('{{baseurl}}csmo-hist/curr/' + id_cliente);

        $('#csmo-promedio').empty().html('<img src="global/img/preloader/facebook.gif" />');
        $('#csmo-promedio').load('{{baseurl}}csmo-hist/avg/' + id_cliente);
    }

    $('#ciclos-container #slider-range').slider({
        range: true,
        min: {{ciclo_ini_min}},
        max: {{ciclo_fin_max}},
        step: 1,
        values: [ ciclo_ini, ciclo_fin ],
        slide: function(event, ui) {
            ciclo_ini = ui.values[0];
            ciclo_fin = ui.values[1];
        },
        stop: function(event, ui) {
            if (id_cliente != '') {
                csmo_refresh();
            }
        }
    });

    <!-- if {{usrtype}} == 'corp' -->
    $('.options').click(function() {
        id_cliente = $(this).text().trim();
        csmo_refresh();
    });
    <!-- endif -->

    if (id_cliente != '') {
        csmo_refresh();
    }

    $('#action-btns #items #excel').click(function() {
        <!-- if {{usrtype}} !== 'corp' -->
        var v_url = '{{baseurl}}csmo-hist/excel' + '/' +
            id_cliente + '/' + ciclo_ini + '/' + ciclo_fin;
        <!-- else -->
        var v_url = '{{baseurl}}csmo-hist/excel' + '/' +
            id_grupo + '/' + ciclo_ini + '/' + ciclo_fin;
        <!-- endif -->
        $('#report iframe').src(v_url);
    });

});
</script>

<div id="title-container">
    <div class="bordes3alt title sombras1alt">consumos hist&Oacute;ricos</div>
</div>

<div class="wrapper">

    <div id="ciclos-container" class="box bordes1alt sombras1alt">
        <div id="slider-range" class="bordes1alt"></div>
    </div>

    <!-- if {{usrtype}} == 'corp' -->
    <div class="box-slide">
        <ul id="slides">

            <li id="left-btn" class="boton"><a href="javascript:void(0);"></a></li>

            <li id="num-chek">
                <ul class="listado">

                    <!-- loop clientes -->
                    <li class="list-item">
                        <!-- /csmo-hist/corp/{{id_grupo}}/{{clientes' v.@id_cliente}} -->
                        <a href="javascript:void(0);" class="options"
                            title="{{clientes' v.@nombre_facturacion}}">
                            {{clientes' v.@id_cliente}}
                        </a>
                        <!--<input type="checkbox" />-->
                    </li>
                    <li class="separator">&nbsp;&nbsp;</li>
                    <!-- endloop -->

                </ul>
            </li>

            <!--<li id="todos">
                    <a href="javascript:void(0);">TODOS</a>
                    <br /><input type="checkbox" />
                </li>-->

            <li id="right-btn" class="boton"><a href="javascript:void(0);"></a></li>

        </ul>
    </div>
    <!-- else -->
        <br clear="all" />
    <!-- endif -->

    <div id="graph-container" class="bordes4">
        <!--<img src="{{graph}}" width="650" height="220" />-->
    </div>

    <div id="data-container">

        <div id="box-consumos">
            <div class="top-bar bordes2alt sombras1alt"><p>ultimos consumos</p></div>
            <div class="box bordes3alt sombras1alt">
                <div id="ultimos-consumos"></div>
            </div>
        </div>

        <div id="box-actuales">

            <div id="box-actual">
                <div class="top-bar bordes2alt sombras1alt"><p>consumo actual</p></div>
                <div class="box bordes3alt sombras1alt">
                    <div id="csmo-actual"></div>
                </div>
            </div>

            <br clear="all" />

            <div id="box-promedio">
                <div class="top-bar bordes2alt sombras1alt"><p>consumo promedio</p></div>
                <div class="box bordes3alt sombras1alt">
                    <p id="csmo-promedio"></div>
                </div>
            </div>

        </div>

    </div>

    <!--<div id="action-btns">
        <ul id="items">
            <li class="action-item" id="excel"><a href="javascript:void(0);"></a></li>
            <li class="action-item" id="pdf"><a href="javascript:void(0);"></a></li>
            <li class="action-item" id="mail"><a href="javascript:void(0);"></a></li>
            <li class="action-item" id="print"><a href="javascript:void(0);"></a></li>
        </ul>
    </div>-->

</div>

<div id="report">
    <iframe src=""></iframe>
</div>

</body>
</html>
